@model OnlineShop.Application.Dtos.AAADtos.EditUserRolesAppDto
<h1> UserName : @Model.UserName</h1>
<form method="post" asp-action="EditUserRoles" asp-controller="User">
    <input type="hidden" asp-for="@Model.UserId" />
    @foreach (var item in Model.Roles)
    {
        <div class="form-group">

            <input type="checkbox" name="roles" value="@item.Name" checked="@Model.UserRoles.Any(c=>@item.Name==c)" />
            @item.Name
        </div>
    }

    <input type="submit" class="btn btn-success " value="Register" />
    <input type="reset" class="btn btn-danger " value="Reset" />
</form>

